{% include 'header.html' %}

    <div align="center">
      {% set banknotes = ["50",
                          "20",
                          "10",
                          "5" ] %}

      {% set coins = [ "2_00",
                       "1_00",
                      "0_50",
                      "0_20",
                      "0_10",
                      "0_05"] %}

      <form method="post">
      <table border="0" >
      {% for coin in coins %}
        {% set banknote = banknotes[loop.index-1] %}
        <tr class="predef">
          {% if loop.index < 5 %}
          <td class="subtotal">EUR<div name="total"  id="{{ banknote }}_sum" value="0">0.00</div></td>
          <td><img src={{ url_for('static', filename = 'img/'+banknote + '.jpg') }}></td>
          <td><input tabindex=-1 type="button" class="predef" value="-5" name="{{ banknote }}"></td>
          <td><input tabindex=-1 type="button" class="predef" value="-1" name="{{ banknote }}"></td>
          <td><input readonly tabindex={{loop.index}} class="values" type="text" name="{{ banknote }}" inputmode="numeric" pattern="[0-9]+"  id="{{ banknote }}" value="{{ cookies.get(banknote) or 0 }}"></td>
          <td><input tabindex=-1 type="button" class="predef" value="+1" name="{{ banknote }}"></td>
          <td><input tabindex=-1 type="button" class="predef" value="+5" name="{{ banknote }}"></td>
          <td>&nbsp;</td>
          {% else %}
          <td colspan="8"></td>
          {% endif %}
          <td class="subtotal">EUR <div name="total" id="{{coin}}_sum" value="0">0.00</div></td>
          <td><img src={{ url_for('static', filename = 'img/'+coin + '.gif') }}></td>
          <td><input tabindex=-1 type="button"  class="predef" value="-5" name="{{ coin }}"></td>
          <td><input tabindex=-1 type="button"  class="predef" value="-1" name="{{ coin }}"></td>
          <td><input tabindex={{loop.index+6}} class="values" type="text" name="{{ coin }}" inputmode="numeric" pattern="[0-9]+" id="{{ coin }}" value="{{ cookies.get(coin) or 0  }}"></td>
          <td><input readonly tabindex=-1 type="button"  class="predef" value="+1" name="{{ coin }}"></td>
          <td><input tabindex=-1 type="button"  class="predef" value="+5" name="{{ coin }}"></td>
        </tr>
      {% endfor %}
      <tr>
            <td style="width: 80px;">&nbsp;</td>
            <td colspan="7" align="center"><h1>Totaal: <span id="real_total">0.00</h1><input type="hidden" id="real_total_hidden" name="totaal" value="0"></td>
            <td style="width: 80px;">&nbsp;</td>
            <td colspan="7" align="center">
            <input tabindex=-1  type="button" OnClick="location.href='/'" class="button terug" value="terug">
            &nbsp;<input tabindex=-1 type="reset" class="button leegmaken" value="leegmaken">
            &nbsp;<input type="submit" class="button opslaan" value="opslaan" onClick="this.form.submit(); this.disabled=true; this.value='momentje…'; " id="opslaan" disabled="disabled" >
      </tr>
      </table>

    </form>
    <script type="text/javascript">
    calculateSubTotals();
    </script>
    {% include "footer.html" %}
</script>


