<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CashCounter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script type="text/javascript" src={{ url_for('static', filename = 'jquery-3.6.1.min.js') }}>></script>
    <link rel="stylesheet" href={{ url_for('static', filename = 'cash-counter.css') }}>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script type="text/javascript" src={{ url_for('static', filename = 'jquery-3.6.1.min.js') }}>></script>
    <script type="text/javascript" src={{ url_for('static', filename = 'cash-counter.js') }}>></script>
    <link rel="stylesheet" href={{ url_for('static', filename = 'cash-counter.css') }}>
    <style type="text/css">
    td {
      height: 95px;
    }
    </style
  </head>
  <body align="center">
