{% include 'header.html' %}
  <body align="center">
      <br>
      <div align="center">
      <form method="post">
          {% if saved %}
          <p class="alert alert-success" role="alert">opgeslagen!</p>
          {% endif %}


          <input type="button" OnClick="location.href='/startbedrag'" class="button starteind{{ today_start_set }}" value="Start Bedrag" />
          &nbsp;

          <input type="button" OnClick="location.href='/eindbedrag'" class="button starteind{{ today_end_set }}" value="Eind Bedrag" />
          &nbsp;<br/><br/>
            <input type="button" class="button overzicht" value="overzicht van invoer" onclick="location.href='/overzicht'">
          </td>
      </table>
    </form>
    <br>
    <p>
      <p style="color: #0000ff;">locatie: {{ location }}</p><a href="/locatie?location=reset">Switch Locatie</a>
    </p>
        {% include "footer.html" %}
