{% include 'header.html' %}
  <body align="center">
      <br>
      <div align="center">
      <form method="post">

          <input type="button" OnClick="location.href='/locatie?location=kantine'" class="button overzicht" value="Kantine">
          &nbsp;

          <input type="button" OnClick="location.href='/locatie?location=baan'" class="button overzicht" value="Baan">
          </p>

          </td>
      </table>
    </form>
        {% include "footer.html" %}

