<html>
  <head>
    <title>CashCounter</title>
    <script type="text/javascript" src={{ url_for('static', filename = 'jquery-3.6.1.min.js') }}>></script>
    <script type="text/javascript" src={{ url_for('static', filename = 'cash-counter.js') }}>></script>
    <link rel="stylesheet" href={{ url_for('static', filename = 'cash-counter.css') }}>
  </head>
  <body align="center">
      <table border="0" style="width: 100%; height:90%;" valign="top">
      <tr style="height: 10%;">
        <td rowspan="3"><input type="button" class="pager" OnClick="location.href='/overzicht/{{ previous }}'" value="&lt;"></td>
        <th colspan="3"><h2>Datum: {{ pretty_date }}</h2></th>
        {% if next != "disabled" %}
        <td rowspan="3"><input type="button" class="pager" OnClick="location.href='/overzicht/{{ next }}'" value="&gt;"></td>
        {% else %}
        <td rowspan="3"><input type="button" class="pager" disabled="disabled" value="&gt;"></td>
        {% endif %}
      </tr>
      <tr style="height: 10%;">
        <td width="48%" align="center"><h3>Start bedrag Aanvang</h3></td>
        <td>&nbsp;</td>
        <td width="48%" align="center"><h3>Eind bedrag Afsluiten</h3></td>
      </tr>
      <tr style="height: 70%;">
        <td valign="top" align="center">
          <table width="70%" border="0"> <!-- Starts -->
            {% for start in starts %}
            <tr><th colspan="3" style="border: 1px solid #000000">Tijd: {{ start[1] }} </th>
            <tr>
              <th class="koppen">Aantal</th>
              <th class="koppen">Waarde</th>
              <th class="koppen">Bedrag</th>
           </tr>
           {% for i in range(3, 13) %}
           {% set subtotal = start[i] | int * headers[i] | float %}
            <tr style="border-width: 1px 0px; ">
              <td align="center" class="line"> {{ start[i] }}</td>
              <td class="line" align="center">&euro; {{ "%.2f"|format(headers[i]|float) }}</td>
              <td align="right" class="line">&euro; {{ "%.2f"|format(subtotal) }}</td>
           </tr>
           {% endfor %}
            <tr>
              <th class="totaal" colspan="2">Totaal</th>
              <th class="totaal" align="right">&euro; {{ "%.2f"|format(start[13]|float) }}</th>
           </tr>
           <tr><td colspan="3">&nbsp;</td>
           {% else %}
           <tr><td valign="top" colspan="3" style="border: 0px"><i>nog niet ingevuld voor deze datum</i></td></tr>
           {% endfor %}
          </table>
        </td>
        <td>&nbsp;</td>
        <td valign="top" align="center">
          <table width="70%" border="0"> <!-- Ends -->
            {% for end in ends %}
            <tr><th colspan="3" style="border: 1px solid #000000">Tijd: {{ end[1] }} </th>
            <tr>
              <th class="koppen">Aantal</th>
              <th class="koppen">Waarde</th>
              <th class="koppen">Bedrag</th>
           </tr>
           {% for i in range(3, 13) %}
           {% set subtotal = end[i] | int * headers[i] | float %}
            <tr style="border-width: 1px 0px; ">
              <td align="center" class="line"> {{ end[i] }}</td>
              <td class="line" align="center">&euro; {{ "%.2f"|format(headers[i]|float) }}</td>
              <td align="right" class="line">&euro; {{ "%.2f"|format(subtotal) }}</td>
           </tr>
           {% endfor %}
            <tr>
              <th class="totaal" colspan="2">Totaal</th>
              <th class="totaal" align="right">&euro; {{ "%.2f"|format(end[13]|float) }}</th>
           </tr>
           <tr><td colspan="3">&nbsp;</td>
           {% else %}
           <tr><td valign="top" colspan="3" style="border: 0px"><i>nog niet ingevuld voor deze datum</i></td></tr>
           {% endfor %}
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="6" align="center">
         <p style="color: #0000ff;">locatie: {{ location }}</p>
         </td>
      </tr>
      </table>
      <br>
      <input tabindex=-1 type="reset" class="button terug" OnClick="location.href='/overzicht/{{ previous }}'" value="&lt; vorige">&nbsp;
      <input tabindex=-1  type="button" OnClick="location.href='/'" class="button terug" value="terug">&nbsp;
      {% if next != "disabled" %}
      <input tabindex=-1 type="reset" class="button terug" OnClick="location.href='/overzicht/{{ next }}'" value="volgende &gt;">&nbsp;
      {% else %}
      <input tabindex=-1 type="reset" class="button terug" disabled="disabled" value="volgende &gt;">&nbsp;
      {% endif %}
      <br>
      <br>
    {% include "footer.html" %}

