body {
  background: #CCC;
  touch-action: manipulation;
}

table {
  border: 1px solid #000000;
}

/*
 td {
  border: 0px solid #000000;
  height: 95px;
}
*/

td.overzicht {
  height: 10%;
}

td.totaal {
  border: 1px;
  text-align: center;
}

tr {
  border :0px;
}
img {
  text-align: center;
  height: 80px;
}

td.subtotal {
  font-size: 12pt;
  font-weight: Bolder;
}

input.predef{
  width: 90px;
  height: 100%;
  font-size: 20pt;
  text-align: center;
  background: #66a3ff;
  touch-action: manipulation;
}

input.values {
  background: #CCCCCC;
  width: 90px;
  height: 100%;
  font-size: 20pt;
  text-align: center;

}

th.koppen {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

th.totaal {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  font-size:14pt;
}

td.line {
  border-width: 0px 0px 1px 0px;
  border-color: #cccccc;
  border-style: dotted;
}

input.button {
  width: 30%;
  height: 50px;
  font-size: 20pt;
  text-align: center;
  touch-action: manipulation;
}

input.pager {
  width: 30px;
  height: 100%;
  font-size: 20pt;
  text-align: center;
  background: #AAAAFF;
  touch-action: manipulation;
}

input.starteindFalse {
  width: 250px;
  height: 100px;
  background: #AAFFAA;
}

input.starteindTrue {
  width: 250px;
  height: 100px;
  background: #FFAAAA;
}

input.overzicht {
  width: 300px;
  height: 80px;
  background: #AAAAFF;
}


input.terug {
  background: #AAAAFF;
}

input.leegmaken {
  background: #FFAAAA;
}

input.opslaan {
  background: #AAFFAA;
}
